@page
@model shopping_cart_russ.Pages.contact.IndexModel
@{
}

@{
    ViewData["Title"] = "Contants";
}

<h1 class="pt-3">Контакты</h1>

<div>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        .contact-info {
            margin-top: 20px;
        }
    </style>
<body>

    <div class="contact-info">
        <h3>Основная информация:</h3>
        <p>Адрес: улица Потаповская Роща, 26к1, Москва, Россия</p>
        <p>Телефон: +7 (999) 950-0445</p>
        <p>Email: info@sleekshop.com</p>
    </div>

    <div class="contact-info">
        <h3>Отдел продаж:</h3>
        <p>Телефон: +7 (984) 731-0013</p>
        <p>Email: sales@sleekshop.com</p>
    </div>

    <div class="contact-info">
        <h3>Техническая поддержка:</h3>
        <p>Телефон: +7 (901) 176-9563</p>
        <p>Email: support@sleekshop.com</p>
    </div>

</body>
</div>