@using SleekClothing.Models
@model Store

<h2>Удалить магазин</h2>

<p>Вы уверены, что хотите удалить магазин <strong>@Model.Name</strong>?</p>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Удалить</button> |
    <a asp-action="Index">Отмена</a>
</form>