@using SleekClothing.Models
@model Store

<h2>Изменить магазин</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Latitude"></label>
        <input asp-for="Latitude" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Longitude"></label>
        <input asp-for="Longitude" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>