@using Microsoft.AspNetCore.Identity;
@model IdentityUser

<h2>Удаление пользователя</h2>

<div>
    <h4>Вы уверены, что хотите удалить этого пользователя?</h4>
    <dl class="row">
        <dt class="col-sm-2">Имя пользователя</dt>
        <dd class="col-sm-10">@Model.UserName</dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>