@page
@model SleekClothing.Pages.admin.orders.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены, что вы хотите удалить этот заказ: @Html.DisplayFor(model => model.Order.Id)?</h3>
<div>
    <hr />
    <form method="post">
        <input type="hidden" asp-for="Order.Id" />
        <a asp-page="./Index" class="btn btn-primary">Вернуться к списку</a>
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </form>
</div>
