@page
@model shopping_cart_russ.Pages.faq.IndexModel
@{
}

@{
    ViewData["Title"] = "FAQ";
}

<h1 class="pt-3">Часто задаваемые вопросы</h1>

<div>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h2 {
            color: #333;
        }
        .question {
            margin-bottom: 10px;
        }
    </style>
<body>
    <div class="question">
        <h5>Какие материалы используются в нашей спецодежде?</h5>
        <p>Наши изделия изготавливаются из высококачественных материалов, таких как креп, нейлон, хлопок и т.д. Подробное описание материала каждого изделия приведено на странице товара.</p>
    </div>

    <div class="question">
        <h5>Как ухаживать за спецодеждой?</h5>
        <p>Большинство наших изделий можно стирать в стиральной машине в соответствии с инструкциями на этикетке. Однако рекомендуется соблюдать инструкции по уходу, чтобы сохранить качество материалов.</p>
    </div>

    <div class="question">
        <h5>Какие виды спецодежды у вас есть?</h5>
        <p>Наш ассортимент включает спецодежду для различных отраслей промышленности, включая строительство, медицину, бытовую технику и другие. Мы предлагаем костюмы, халаты, перчатки, обувь и многое другое.</p>
    </div>

    <div class="question">
        <h5>Каким стандартам безопасности соответствует ваша спецодежда?</h5>
        <p>Наша спецодежда соответствует стандартам безопасности, таким как ISO и ANSI, в зависимости от типа изделия. Подробная информация о стандартах приведена на странице каждого изделия.</p>
    </div>

    <div class="question">
        <h5>Где я могу найти информацию о спецодежде?</h5>
        <p>Вы можете найти информацию о спецодежде на странице каждого товара. Если у вас возникнут дополнительные вопросы, пожалуйста, свяжитесь с нашей службой поддержки для получения консультации.</p>
    </div>

    <div class="question">
        <h5>Как сохранить водонепроницаемость спецодежды?</h5>
        <p>Большинство водонепроницаемых материалов требуют особого ухода. Мы рекомендуем использовать специальные моющие средства и следовать инструкциям на этикетке.</p>
    </div>

</body>
</div>