@page
@model shopping_cart_russ.Pages.refunds.IndexModel
@{
}


@{
    ViewData["Title"] = "About us";
}

<h1 class="pt-3">О нас</h1>

<div>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h2 {
            color: #333;
        }
        .question {
            margin-bottom: 10px;
        }
    </style>
<body>
    <p>Добро пожаловать на сайт компании Fortress Fashion, вашего надежного партнера в производстве и поставках высококачественной спецодежды! Наша компания основана на принципах качества, безопасности и профессионализма.</p>

    <h4>С чего все началось</h4>
    <p>Компания Fortress Fashion была основана в 2003 году с целью предоставления индивидуальных решений для обеспечения безопасности и комфорта сотрудников в различных отраслях промышленности. За эти годы мы зарекомендовали себя как надежный поставщик спецодежды с высокими стандартами качества.</p>

    <h4>Наша миссия</h4>
    <p>Миссия Fortress Fashion - предоставлять клиентам современные и эффективные решения в области спецодежды, способствующие безопасности и удобству сотрудников в их повседневной деятельности.</p>

    <h4>Наши ценности</h4>
    <p>В своей работе мы придерживаемся таких ценностей, как честность, ответственность и инновации. Мы постоянно совершенствуем нашу продукцию, следуя требованиям рынка и потребностям клиентов. Наша цель - не просто предоставлять спецодежду, но и создавать партнерские отношения, основанные на доверии и взаимной выгоде.</p>

</body>
</div>
